# Copyright (c) 2021 Abel Sensors
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_ET64C16
	bool "ET64C16 I2C-based GPIO chip"
	default y
	depends on DT_HAS_TC_ET64C16_ENABLED
	depends on I2C
	help
	  Enable driver for ET64C16 I2C-based GPIO chip.

if GPIO_ET64C16

config GPIO_ET64C16_INIT_PRIORITY
	int "Init priority"
	default 80
	help
	  Device driver initialization priority.

endif # GPIO_ET64C16
